/* GENERICS */
html,
body {
  width: 100%;
  height: 100%;
  background-color: #fbfbfb;
  color: #303030;
}

.hide {
  display: none;
}

/* SLIDER */
#slider {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.diapositive {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.diapositive.current {
  transform: translateX(-100%);
}

.diapositive.prev {
  transform: translateX(-200%);
}

/* NAVIGATOR */
#navigator {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
}
