/* RESET alligator */
html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
  width: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
}

/* BOILERPLATE */
.browserupgrade {
  margin: 0.2em 0;
  padding: 0.2em 0;
}

body {
  background: #fff;
  color: #000;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* SLIDER */
#slider {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: relative;
  top: 0;
  width: 100%;
}

.diapositive {
  height: 100%;
  left: 100%;
  position: absolute;
  top: 0;
  transition: transform 180ms linear;
  width: 100%;
}

.diapositive.current {
  transform: translateX(-100%);
}

.diapositive.prev {
  transform: translateX(-200%);
}

/* CONTROLLER */
#controller {
  bottom: 0;
  display: flex;
  position: fixed;
  right: 0;
}

#controller button {
  background-color: transparent;
  color: #000;
  border: 0;
  cursor: pointer;
  font: 100 1.3rem monospace;
}

#controller button:focus {
  outline: 0;
}

#controller button:active {
  color: #808080;
}

#prev-btn {
  color: #d3d3d3;
}

#next-btn {
  color: #000;
}
