/* TOOLBAR */
#toolbar {
  background-color: #bdc3c7;
  height: 100%;
  left: 0;
  padding: 1rem;
  position: absolute;
  top: 0;
  transition: transform 200ms linear;
  z-index: 9999;
}

#toolbar.show {
  transform: translateX(100%);
}

.settings {
  margin: 0 0 1rem 0;
}

.setting {
  margin: 0 0 1rem 0;
  font: 700 .8rem sans-serif;
  text-transform: uppercase;
}

.settings:last-child,
.setting:last-child {
  margin-bottom: 0;
}

/* SWITCH */
.switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch-icon {
  position: relative;
  top: 0;
  left: 0;
  margin-left: 1.2rem;
  width: 2rem;
  height: 1rem;
  background-color: #e74c3c;
  cursor: pointer;
  transition: background 200ms linear;
}

.switch-icon:before {
  content: '';
  position: absolute;
  top: .05rem;
  left: .05rem;
  width: .9rem;
  height: .9rem;
  background-color: #ecf0f1;
  transition: transform 200ms linear;
}

.switch-controller:checked + .switch-icon {
  background-color: #2ecc71;
}

.switch-controller:checked + .switch-icon:before {
  transform: translateX(1.0rem);
}
