/* TOOLBAR */
#toolbar {
  height: 100%;
  right: 100%;
  padding: 1rem;
  position: absolute;
  top: 0;
  transition: transform 200ms linear;
  z-index: 999;
}

#toolbar.show {
  transform: translateX(99.5%);
}

#toggle-toolbar {
  position: absolute;
  bottom: 0;
  left: 100%;
  border: 0;
  cursor: pointer;
  font: 300 .7rem sans-serif;
  outline: 0;
}

.toolbar-color {
  background-color: #303030;
  color: #fbfbfb;
}

.settings {
  margin: 0 0 1rem 0;
}

.setting {
  margin: 0 0 1rem 0;
  font: 100 .8rem sans-serif;
  text-transform: uppercase;
}

.settings:last-child,
.setting:last-child {
  margin-bottom: 0;
}

/* SWITCH */
.switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch-icon {
  position: relative;
  top: 0;
  left: 0;
  margin-left: 1.2rem;
  width: 2rem;
  height: 1rem;
  background-color: #fbfbfb;
  cursor: pointer;
  border-radius: .5rem;
  transition: background 200ms linear;
}

.switch-icon:before {
  content: '';
  position: absolute;
  top: .05rem;
  left: .05rem;
  width: .9rem;
  height: .9rem;
  border-radius: 50%;
  background-color: #303030;
  transition: transform 200ms linear;
}

.switch-controller:checked + .switch-icon {
  background-color: #2ecc71;
}

.switch-controller:checked + .switch-icon:before {
  transform: translateX(1.0rem);
}
